<canvas id="matrix"></canvas>

<textarea></textarea>
<%= link_to "Pilule Rose", "#", class: "pink-pill" %>
<%= link_to "Pilule Bleue", "#", class: "blue-pill" %>

<div class="mom">Joyeuse fête mamaaaan !</div>
<div class="dad">Joyeuse fête papaaaaa !</div>

